// src/assets/scss/app.scss

@tailwind preflight;
@tailwind utilities;

/* Custom Sass goes here... */

#app {
  @apply .text-center .text-green-darker .mt-8;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &__btn {
    @apply .inline-block .no-underline .bg-green .w-64 .mt-8 .text-white .rounded .py-4 .px-8;

    &:hover {
      @apply .bg-green-light
    }
  }
}

